@use '/src/assets/styles/vars';

.transaction {
  display: flex;
  border: 1px solid vars.$white;
  border-radius: 10px;
  padding: 1rem;
  justify-content: space-around;
  
  &:not(:last-child) {
    margin: 2rem 0;
  }

  &__date,
  &__montant,
  &__conso {
    font-weight: bold;
  }
}

/* MODAL */
.transaction-detail {

  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;

    & .name {
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
  }
  &__item:not(:last-child) {
    margin-top: 1rem;
  }
}
