@use '/src/assets/styles/vars';

.gestion-essence {
	&__header {
		display: flex;
		justify-content: space-between;
	}
	&__content {
		& .infos {
			font-size: 1rem;
			font-weight: bold;
			&__vehicle {
				padding-bottom: 0.5rem;
			}
			&__conso {
				padding-top: 0.5rem;
			}
		}
		& .date {
			font-size: 1.2rem;
			font-weight: bold;
			margin-bottom: 1.5rem;
			text-align: center;
		}

    &__list.delete-mode .transaction {
			background-color: vars.$delete-mode;
		}
		&__list.delete-mode .transaction.delete-mode--selected {
			background-color: vars.$delete-mode--selected;
		}
	}
}

/****** POPUP ADD TRANSACTION ******/

.add-transaction__form {
  color: red;

  &__elem {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    & .field:not(:last-child) {
      margin-bottom: 5rem;
    }

    & .field {
      color: vars.$white;
      font-weight: bold;
      font-size: 0.8rem;
      text-align: center;
      height: 2rem;
      -moz-appearance: textfield;
      border: 0;
      background-color: vars.$delete-mode;
    }
  }
}
