$main-background: #2c3e50;
$main-background-bold: #222930;
$header-background: #516ebe;
$grey: #666;
$grey-light: #a6a6a6;
$white: #fff;
$blue-grey: #4f5f70;
$delete-mode--selected: #21702b;

//! SPINNER
$spinner-background: #ffffff2c;
$opacity-half: #ffffff7c;
