@use 'reset';
@use 'vars';

/* :root {
  --toastify-toast-width: 180px;
} */

body {
  background-color: vars.$main-background;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;

  & #root {
    color: #fff;
    height: 100vh;

    //* class hidden qui permettra de cacher un élément du dom
    & .hidden {
      display: none;
    }

    & .page {
      width: 100vw;
      height: calc(100vh - 3rem);
      // border: 1px solid red;
    }
  }

  /* & .header {
    background-color: red;
  } */
}
